@using AN.Core.Resources.Global
@using AN.Core.Resources.UI.AdminPanel

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cog"></i>
        <p>
            @Global.BaseInformation
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","Place", new { area = "Admin" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Places</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Tabs","Expertise", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@PanelResource.Expertises</p></a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Service", new { area = "" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.Services</p></a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("VocationDays","Schedule", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.VocationDays</p></a>
        </li>
    </ul>
</li>

@if (User.IsInRole(Shared.Constants.SystemRoles.ADMIN))
{
    
}

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Hospital", new { area = "Admin" })"><i class="nav-icon fa fa-h-square"></i><p>@AN.Core.Resources.Global.Global.Hospitals</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","CommonClinic", new { area = "" })"><i class="nav-icon fa fa-medkit"></i><p>@Global.Clinics</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Polyclinic", new { area = "" })"><i class="nav-icon fa fa-stethoscope"></i><p>@Global.ShiftCenters</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Pharmacy", new { area = "Admin" })"><i class="nav-icon fa fa-archive"></i><p>@Global.Pharmacies</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Offer", new { area = "Admin" })"><i class="nav-icon fa fa-gift"></i><p>@Global.Offers</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Appointment", new { area = "Admin" })"><i class="nav-icon fa fa-calendar"></i><p>@AN.Core.Resources.Global.Global.Turns</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Person", new { area = "Admin" })"><i class="nav-icon fa fa-users"></i><p>@Global.Persons</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","User", new { area = "Admin" })"><i class="nav-icon fa fa-lock"></i><p>@PanelResource.Users</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Contact", new { area = "Admin" })"><i class="nav-icon fa fa-phone"></i><p>@PanelResource.ContactUs</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","RegisterRequest", new { area = "" })"><i class="nav-icon fa fa-registered"></i><p>@Global.RegistrationRequests</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Requests","AppointmentRequest", new { area = "" })"><i class="nav-icon fa fa-calendar-plus"></i><p>@Global.AppointmentRequests</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","MedicalRequest", new { area = "" })"><i class="nav-icon fa fa-file-medical"></i><p>Medical Requests</p></a></li>

<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Notification", new { area = "Admin" })"><i class="nav-icon fa fa-bell"></i><p>@Global.Notification</p></a></li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-heart"></i>
        <p>
            @PanelResource.Insurances
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","Insurance", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@PanelResource.Insurances</p></a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("InsuranceServices","Insurance", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.MenuInsuranceService</p></a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-book-open"></i>
        <p>
            @Global.Cms
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Categories","Cms", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.Categories</p></a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Articles","Cms", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.Articles</p></a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-comments"></i>
        <p>
            Consultancy
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Chats","Consultancy", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Chats</p></a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-chart-bar"></i>
        <p>
            @PanelResource.Reports
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("PolyclinicsWithPendingAppoints","Reports", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@PanelResource.PendingTurns</p></a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Appointment", new { area = "Admin" })" class="nav-link"><i class="far fa-circle nav-icon"></i><p>@Global.Turns</p></a>
        </li>
    </ul>
</li>