@model AN.Core.ViewModels.PersonListViewModel

@{
    Layout = "~/Views/Shared/_CpanelLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4c-custom-switch/dist/css/component-custom-switch.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" type="text/css" />
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@AN.Core.Resources.Global.Global.Persons</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form method="post" action="#" id="PersonsFilterForm">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@AN.Core.Resources.Global.Global.SearchString</label>
                                <input type="text" id="FilterString" name="FilterString" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>@AN.Core.Resources.Global.Global.Gender</label>
                                @Html.DropDownList("Gender", ViewBag.Genders as IEnumerable<SelectListItem>, "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2" style="direction: ltr !important;">
                            <label>@AN.Core.Resources.Global.Global.IsEmployee</label>
                            <div class="custom-switch custom-switch-label-io">
                                <input type="checkbox" data-val="true" class="custom-switch-input" name="IsEmployeeFilter" id="IsEmployeeFilter" form="PersonsFilterForm" />
                                <label class="custom-switch-btn" for="IsEmployeeFilter"></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" class=" btn btn-outline-info form-control" onclick="filterPersons()"><i class="fa fa-filter"></i>  @AN.Core.Resources.Global.Global.Filter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card card-info card-outline">
            <div class="card-header">
                <button class="btn btn-default @(ViewBag.Lang == AN.Core.Enums.Lang.EN ? "float-right" : "float-left")" onclick="personCreateUpdate(null)"><i class="fa fa-plus"></i></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table id="fingers10" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                                    <th></th>
                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                    <th>@Html.DisplayNameFor(m => m.Mobile)</th>
                                    <th>@Html.DisplayNameFor(m => m.Gender)</th>
                                    <th>@Html.DisplayNameFor(m => m.IsEmployee)</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>    
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/My/DataTablesLocale/dt_@(ViewBag.Lang.ToString()).js" asp-append-version="true"></script>
    <script type="text/javascript">
        var table;
        var filterForm = $("#PersonsFilterForm");
        $(function () {
            if ($('#fingers10').length !== 0) {
                table = $('#fingers10').DataTable({
                    language: dataTablesLocale,
                    processing: true,
                    serverSide: true,
                    orderCellsTop: true,
                    autoWidth: true,
                    deferRender: true,
                    order: [[2, "asc"]],
                    lengthMenu: [5, 10, 15, 20],
                    dom: '<"row"<"col-sm-12 col-md-12"B><"col-sm-12 col-md-12 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                    buttons: [
                        {
                            text: 'Export to Excel',
                            className: 'btn btn-sm btn-dark',
                            action: function (e, dt, node, config) {
                                window.location.href = "/polyclinicmanager/offer/GetExcel";
                            },
                            init: function (api, node, config) {
                                $(node).removeClass('dt-button');
                            }
                        }
                    ],
                    ajax: {
                        type: "POST",
                        url: '/admin/person/LoadTable/',
                        contentType: "application/json; charset=utf-8",
                        async: true,
                        headers: {
                            "XSRF-TOKEN": document.querySelector('[name="__RequestVerificationToken"]').value
                        },
                        data: function (data) {
                            data.FiltersObject = JSON.stringify(objectifyForm(filterForm.serializeArray()));
                            return JSON.stringify(data);
                        }
                    },
                    columns: [
                        {
                            data: "Id",
                            name: "eq",
                            visible: false,
                            searchable: false,
                            orderable: false
                        },
                        {
                            data: null,
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row, meta) {
                                return row.AvatarHtml;
                            },
                            width: "5%"
                        },
                        {
                            data: "Name",
                            name: "co"                            
                        },
                        {
                            data: "Mobile",
                            name: "co",
                            width: "10%"
                        },
                        {
                            data: "Gender",
                            name: "co",
                            width: "10%"
                        },
                        {
                            data: "IsEmployee",
                            name: "co",
                            width: "10%"
                        },
                        {
                            data: null,
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row, meta) {
                                return row.ActionsHtml;
                            }
                        }
                    ]
                });

                table.columns().every(function (index) {
                    $('#fingers10 thead tr:last th:eq(' + index + ') input')
                        .on('keyup',
                            function (e) {
                                if (e.keyCode === 13) {
                                    table.column($(this).parent().index() + ':visible').search(this.value).draw();
                                }
                            });
                });
            }
        });

        function reloadDataTable(initAgain = false) {
            table.ajax.reload(null, initAgain);
        }

         function filterPersons() {
            reloadDataTable(true);
        }

        function personCreateUpdate(id) {
            waiting('body', '@AN.Core.Resources.Global.Global.PleaseWait');
            $.ajax({
                type: 'Get',
                url: "/admin/person/CreateUpdate?id=" + id,
                success: function (response) {
                    var commonModal = $("#AwroNoreModal");
                    commonModal.find('#AwroNoreModalDialog').addClass("modal-lg modal-xlg");
                    commonModal.find('.modal-title').text('@Html.Raw(AN.Core.Resources.UI.AdminPanel.PanelResource.AddNewPerson)');
                    commonModal.find('#CommonModalContent').html(response);
                    commonModal.modal({backdrop: 'static', keyboard: false});

                    $("#Birthdate").flatpickr();
                },
                error: function (jqXHR, ex) {
                    handleAjaxError(jqXHR, ex);
                }
            }).always(function () {
                waitingDone('body');
            });
        }
    </script>
}
