
@using AN.Core.Resources.UI.AdminPanel;
@using AN.Core.Resources.Global

@model AN.Web.Models.SetPolyclinicHealthServicesViewModel

@{
    ViewBag.Title = PanelResource.ManagePolyclinicServices;
    Layout = "~/Views/Shared/_CpanelLayout.cshtml";

    var area = (string)TempData["area"];

    var backUrl = Url.Action("Index", "Polyclinic", new { area = "" });

    if(area == "POLYCLINICMANAGER")
    {
        backUrl = Url.Action("Index", "Home", new { area = "PolyClinicManager" });
    }
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@Global.Services</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb @(ViewBag.Lang == AN.Core.Enums.Lang.EN ? "float-sm-right" : "float-sm-left") ">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home", new { area = area })">@AN.Core.Resources.Global.Global.Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Polyclinic", new { area = "" })">@PanelResource.PolyclinicsList</a></li>
                    <li class="breadcrumb-item active">@Global.Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("SetHealthServices", "Polyclinic", new { area = "" }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="card card-info card-outline">
                <div class="card-body p-0">
                    @Html.HiddenFor(m => m.PoliClinicId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-12">
                            <table id="servicesTable" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="chkSelectAll" /></th>                                        
                                        <th>@Global.Name</th>
                                        <th width="10%">@Global.Price</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.EditorFor(m => m.Services)
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-info" style="min-width:100px;">@AN.Core.Resources.Global.Global.Save</button>
                    <a href="@backUrl" class="btn btn-danger">@AN.Core.Resources.Global.Global.Cancel</a>
                </div>
            </div>
        }
    </div>   
</div>

@section scripts{=
    <script type="text/javascript">
        $(function () {
            $("#chkSelectAll").bind("change", function () {
                $(".chkSelect").prop("checked", $(this).prop("checked"));
            });
            $(".chkSelect").bind("change", function () {
                if (!$(this).prop("checked"))
                    $("#chkSelectAll").prop("checked", false);
            });
            $(".alert").hide().fadeIn("slow");
        });
    </script>
}
