@model (int id, AppointmentStatus status, bool hasTreatmentHistories, int personId, int serviceSupplyId)

    <div class="btn-group" role="group" aria-label="Appointment Actions">
        @if (Model.status == AppointmentStatus.Pending && !Model.hasTreatmentHistories)
        {
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#" onclick="proccessAppointment('@Model.id')">@Global.Accomplish</a>
                    <a class="dropdown-item" href="#" onclick="proccessAppointment('@Model.id', 'sonar')">@PanelResource.RequestSonar</a>
                    <a class="dropdown-item" href="#" onclick="proccessAppointment('@Model.id', 'lab')">@Global.Laboratory</a>
                </div>
            </div>           
            <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    onclick="cancelAppointment('@Model.id')">
                <i class="fa fa-trash"></i>
            </button>
        }
        else if (Model.status == AppointmentStatus.Done && Model.hasTreatmentHistories)
        {
            <button type="button"
                    class="btn btn-outline-info btn-sm" onclick="getPatientTreatments('@Model.personId', '@Model.serviceSupplyId')">
                <i class="fa fa-info-circle"></i>
            </button>
        }
    </div>
