
@model AN.Core.ViewModels.ApproveAppointmentRequestModel

<div id="approveAppointmentArea">
    <form id="approveAppoitmentForm" class="form-horizontal" action="@Url.Action("ApproveAppointmentRequest", "Appointment", new {area = "admin"})" method="POST">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Date)
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control common-datapicker", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                    @Html.LabelFor(m => m.StartTime)
                    @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control txtclockpicker", @tabindex = "2", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                    @Html.LabelFor(m => m.EndTime)
                    @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control txtclockpicker", @tabindex = "2", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3" style="direction: ltr !important;">
                @Html.LabelFor(m => m.SendNotification)
                <div class="custom-switch custom-switch-label-io">
                    @Html.CheckBoxFor(m => m.SendNotification, new { @class = "custom-switch-input" })
                    <label class="custom-switch-btn" for="SendNotification"></label>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <button type="submit" class="btn btn-info">@AN.Core.Resources.Global.Global.Done</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@AN.Core.Resources.Global.Global.Cancel </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        var form = $("#approveAppointmentArea").find('form');
        $.validator.unobtrusive.parse(form);
        $(form).on("submit", function (e) {
            e.preventDefault();
            if (form.valid()) {
                waiting('approveAppointmentArea', '@AN.Core.Resources.Global.Global.PleaseWait');
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    dataType: "json",
                    data: form.serialize(), success: function (result) {
                        form.closest('.modal').modal('toggle');
                        toastr.success("Success", "Message");
                        reloadDataTable();
                    }, error: function (jqXHR, ex) {
                        handleAjaxError(jqXHR, ex);
                    }
                }).always(function () {
                    waitingDone('approveAppointmentArea');
                });
            }
        });
    });
</script>
