@model AN.Core.ViewModels.ExpertiseListViewModel

<div class="card mb-2">
    <div class="card-body">
        <form method="post" action="#" id="ExpertisesFilterForm">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-auto mt-1">
                    <div class="card card-body">
                        <i class="fa fa-filter fa-2x"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>@AN.Core.Resources.Global.Global.SearchString</label>
                        <input type="text" id="FilterString" name="FilterString" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>@AN.Core.Resources.Global.Global.Category</label>
                        @Html.DropDownList("CategoryId", ViewBag.ExpertiseCategories as IEnumerable<SelectListItem>, "", htmlAttributes: new { @class = "form-control select2" })
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="button" class=" btn btn-outline-info form-control" onclick="filterExpertises()"><i class="fa fa-filter"></i>  @AN.Core.Resources.Global.Global.Filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-info card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h5 class="m-0 text-dark"><i class="fa fa-list-alt"></i> @PanelResource.Expertises</h5>
            </div>
            <div class="col-6">
                <button class="ml-1 mr-1 btn btn-outline-info btn-sm @(ViewBag.Lang == AN.Core.Enums.Lang.EN ? "float-right" : "float-left")" onclick="expertiseCreateUpdate(null)"><i class="fa fa-plus"></i> @PanelResource.AddNewExpertise</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="fingers10" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Category)</th>
                            <th>@Html.DisplayNameFor(m => m.Description)</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var table;
        var filterForm = $("#ExpertisesFilterForm");
        $(function () {
            if ($('#fingers10').length !== 0) {
                table = $('#fingers10').DataTable({
                    language: dataTablesLocale,
                    processing: true,
                    serverSide: true,
                    orderCellsTop: true,
                    autoWidth: true,
                    deferRender: true,
                    order: [[1, "asc"]],
                    lengthMenu: [5, 10, 15, 20],
                    dom: '<"row"<"col-sm-12 col-md-12"B><"col-sm-12 col-md-12 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                    buttons: [
                        {
                            text: 'Export to Excel',
                            className: 'btn btn-sm btn-dark',
                            action: function (e, dt, node, config) {
                                window.location.href = "/polyclinicmanager/offer/GetExcel";
                            },
                            init: function (api, node, config) {
                                $(node).removeClass('dt-button');
                            }
                        }
                    ],
                    ajax: {
                        type: "POST",
                        url: '/admin/Expertise/LoadTable/',
                        contentType: "application/json; charset=utf-8",
                        async: true,
                        headers: {
                            "XSRF-TOKEN": document.querySelector('[name="__RequestVerificationToken"]').value
                        },
                        data: function (data) {
                            data.FiltersObject = JSON.stringify(objectifyForm(filterForm.serializeArray()));
                            return JSON.stringify(data);
                        }
                    },
                    columns: [
                        {
                            data: "Name",
                            name: "co",
                            width: "30%"
                        },
                        {
                            data: "Category",
                            name: "co",
                            width: "30%"
                        },
                        {
                            data: "Description",
                            name: "co",
                            width: "40%"
                        },
                        {
                            data: null,
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row, meta) {
                                return row.ActionsHtml;
                            }
                        }
                    ]
                });

                table.columns().every(function (index) {
                    $('#fingers10 thead tr:last th:eq(' + index + ') input')
                        .on('keyup',
                            function (e) {
                                if (e.keyCode === 13) {
                                    table.column($(this).parent().index() + ':visible').search(this.value).draw();
                                }
                            });
                });
            }
        });

        function reloadDataTable(initAgain = false) {
            table.ajax.reload(null, initAgain);
        }

         function filterExpertises() {
            reloadDataTable(true);
        }

        function expertiseCreateUpdate(id) {
            var title = '@Html.Raw(AN.Core.Resources.UI.AdminPanel.PanelResource.AddNewExpertise)';
            if (id != null) {
                title = '@Html.Raw(AN.Core.Resources.Global.Global.Update)';
            }
            waiting('body', '@AN.Core.Resources.Global.Global.PleaseWait');
            $.ajax({
                type: 'Get',
                url: "/admin/Expertise/CreateUpdate?id=" + id,
                success: function (response) {
                    var commonModal = $("#AwroNoreModal");
                    commonModal.find('.modal-title').text(title);
                    commonModal.find('#CommonModalContent').html(response);
                    commonModal.modal({ backdrop: 'static', keyboard: false });
                    commonModal.find('#CommonModalContent').find('.select2').select2({
                        width: '100%'
                    });
                },
                error: function (jqXHR, ex) {
                    handleAjaxError(jqXHR, ex);
                }
            }).always(function () {
                waitingDone('body');
            });
        }

        function deleteExpertise(id) {
             Swal.fire({
                title: '@AN.Core.Resources.Global.Global.Msg_AreYouSure',
                text: "@Html.Raw(AN.Core.Resources.EntitiesResources.Messages.WontAbleRevertThis)",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@AN.Core.Resources.Global.Global.Yes',
                cancelButtonText: '@AN.Core.Resources.Global.Global.No',
            }).then((result) => {
                if (result.value) {
                    waiting('body', '@AN.Core.Resources.Global.Global.PleaseWait');
                    $.ajax({
                        type: 'Get',
                        url: "/Admin/Expertise/Delete/" + id,
                        success: function (response) {
                        if (response.success) {
                            reloadDataTable();
                            Toast.fire({
                                type: 'success',
                                title: '@AN.Core.Resources.Global.Global.Successful',
                                text: response.message
                            });
                        } else {
                            Toast.fire({
                                type: 'error',
                                title: '@AN.Core.Resources.Global.Global.Error',
                                text: response.message
                            });
                        }
                    },
                        error: function (jqXHR, ex) {
                            handleAjaxError(jqXHR, ex);
                        }
                    }).always(function () {
                        waitingDone('body');
                    });
                }
            });
        }
</script>