
@model AN.Web.Models.SelectPolyclinicHealthServicesViewModel

@if (Model.Selected == true)
{
    <tr style="background:#ffd800;">
        <td style="background:#ffd800;">
            @Html.CheckBoxFor(m => m.Selected, new { @class = "chkSelect" })
        </td>
        <td>
            @Model.Name
            @Html.HiddenFor(m => m.Name)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </td>
        <td>
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
        </td>
        <td>
            @Html.HiddenFor(m => m.Id)
        </td>
    </tr>

}
else
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.Selected, new { @class = "chkSelect" })
        </td>
        <td>
            @Model.Name
            @Html.HiddenFor(m => m.Name)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </td>
        <td></td>
        <td>
            @Html.HiddenFor(m => m.Id)
        </td>
    </tr>
}
