@using AN.Core.Resources.Global;

@model AN.Core.ViewModels.InsuranceServiceCRUDViewModel

<link rel="stylesheet" href="~/lib/select2/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css" />

<div id="createInsuranceServiceArea">
    <form id="createNotificationForm" class="form-horizontal" action="@Url.Action("CreateUpdateInsuranceService", "Insurance", new {area = "Admin"})" method="POST" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.InsuranceId)
                        @Html.DropDownListFor(model => model.InsuranceId, (ViewBag.Insurances as IEnumerable<SelectListItem>).ToList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.InsuranceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">@Global.Kurdish</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Title_Ku)
                                @Html.TextBoxFor(m => m.Title_Ku, new { maxlength = "50", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Title_Ku, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Summary_Ku)
                                @Html.TextBoxFor(m => m.Summary_Ku, new { maxlength = "50", @class = "form-control beLTR pl-3" })
                                @Html.ValidationMessageFor(m => m.Summary_Ku, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description_Ku)
                                @Html.TextAreaFor(m => m.Description_Ku, new { maxlength = "1000", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description_Ku, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">@Global.Arabic</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Title_Ar)
                                @Html.TextBoxFor(m => m.Title_Ar, new { maxlength = "50", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Title_Ar, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Summary_Ar)
                                @Html.TextBoxFor(m => m.Summary_Ar, new { maxlength = "50", @class = "form-control beLTR pl-3" })
                                @Html.ValidationMessageFor(m => m.Summary_Ar, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description_Ar)
                                @Html.TextAreaFor(m => m.Description_Ar, new { maxlength = "1000", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description_Ar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">@Global.English</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Title)
                                @Html.TextBoxFor(m => m.Title, new { maxlength = "50", @class = "form-control beLTR pl-3" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Summary)
                                @Html.TextBoxFor(m => m.Summary, new { maxlength = "50", @class = "form-control beLTR pl-3" })
                                @Html.ValidationMessageFor(m => m.Summary, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextAreaFor(m => m.Description, new { maxlength = "1000", @class = "form-control beLTR" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-body mr-2 ml-2">
                    <div class="col-12  text-center">
                        <div class="kv-avatar">
                            <div class="file-loading">
                                @if (Model.Id != null)
                                {
                                    <input id="Photo" name="Photo" type="file">
                                }
                                else
                                {
                                    <input id="Photo" name="Photo" type="file" required>
                                }
                            </div>
                        </div>
                        <div class="kv-avatar-hint"><small>Max File Size: 500 KB</small></div>
                        <div id="kv-avatar-errors-1" class="center-block" style="display:none"></div>
                        @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <button type="submit" class="btn btn-info">@(Model.Id == null ? AN.Core.Resources.Global.Global.Send : AN.Core.Resources.Global.Global.Update)</button>
                <button id="CancelAddPatient" type="button" class="btn btn-danger" data-dismiss="modal">@AN.Core.Resources.Global.Global.Cancel </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap-fileinput/themes/fas/theme.min.js"></script>
<script type="text/javascript">
    $(function () {
        var form = $("#createInsuranceServiceArea").find('form');
        $.validator.unobtrusive.parse(form);
        $(form).on("submit", function (e) {
            e.preventDefault();
            if (form.valid()) {
                var data = new FormData($(this)[0]);
                waiting('createInsuranceServiceArea', '@AN.Core.Resources.Global.Global.PleaseWait');
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    processData: false,
                    contentType: false, // contentType option to false is used for multipart/form-data forms that pass files
                    data: data,
                    success: function (result) {
                        if (result.success) {
                            form.closest('.modal').modal('toggle');
                            Toast.fire({
                                type: 'success',
                                title: '@AN.Core.Resources.Global.Global.Successful',
                                text: result.message
                            });
                            reloadDataTable();
                        } else {
                            Toast.fire({
                                type: 'error',
                                title: '@AN.Core.Resources.Global.Global.Error',
                                text: result.message
                            });
                        }
                    },
                    error: function (jqXHR, ex) {
                        handleAjaxError(jqXHR, ex);
                    }
                }).always(function () {
                    waitingDone('createInsuranceServiceArea');
                });
            }
        });
    });

    $("#Photo").fileinput({
        theme: "fas",
        overwriteInitial: true,
        showClose: false,
        showCaption: false,
        showUpload: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fa fa-folder-open"></i>',
        removeIcon: '<i class="fa fa-trash"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '@Html.Raw(ViewBag.AvatarPreview)',
        maxFileSize: 150,
        minImageWidth: 90,
        minImageHeight: 90,
        maxImageWidth: 256,
        maxImageHeight: 256,
        allowedFileExtensions: ["jpg", "png", "jpeg"]
    });
</script>
