@model AN.Core.ViewModels.SonarDashboardViewModel;

@{
    ViewBag.Title = PanelResource.Dashboard;
    Layout = "~/Views/Shared/_CpanelLayout.cshtml";
}

<section class="content">
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2><strong>@((ViewBag.CurrentLab as AN.Core.Models.WorkingAreaModel).Name)</strong></h2>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">@Global.All</span>
                        <span class="info-box-number">
                            @Model.AllPrescriptionCount
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clock"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">@Global.New</span>
                        <span class="info-box-number">
                            @Model.NewPrescriptionCount
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-double"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">@Global.Done</span>
                        <span class="info-box-number">
                            @Model.DonePrescriptionCount
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="FindLabroatoryPrescriptionArea" class="row justify-content-center">
            <div class="col-9">
                <div class="card card-info card-outline">
                    <div class="card-body">
                        <form id="FindLabroatoryPrescriptionForm" class="form-horizontal" action="@Url.Action("ViewPrescription", "Prescription", new {area = "LabManager"})" method="post">
                            <div class="col-md-12 top10">
                                <div class="input-group mb-3">
                                    <input type="text" id="PrescriptionId" name="PrescriptionId" class="form-control" maxlength="10" placeholder="Please enter id of prescription" aria-label="Id of prescription" aria-describedby="basic-addon2" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-info">@AN.Core.Resources.Global.Global.Search <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.getElementsByTagName("INPUT");
            for (var i = 0; i < elements.length; i++) {
                elements[i].oninvalid = function (e) {
                    e.target.setCustomValidity("");
                    if (!e.target.validity.valid) {
                        e.target.setCustomValidity('@Html.Raw(AN.Core.Resources.Global.Global.Err_ThisFieldIsRequired)');
                    }
                };
                elements[i].oninput = function (e) {
                    e.target.setCustomValidity("");
                };
            }
        });
    $(function () {
        var form = $("#FindLabroatoryPrescriptionForm");
        $.validator.unobtrusive.parse(form);
        $(form).on("submit", function (e) {
            e.preventDefault();
            if (form.valid()) {
                waiting('FindLabroatoryPrescriptionArea', '@AN.Core.Resources.Global.Global.PleaseWait');
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    dataType: "html",
                    data: form.serialize(), success: function (result) {
                        var commonModal = $("#AwroNoreModal");
                        commonModal.find('#AwroNoreModalDialog').addClass("modal-lg");
                        commonModal.find('.modal-title').text('@Html.Raw(Global.Prescription)');
                        commonModal.find('#CommonModalContent').html(result);
                        commonModal.modal({backdrop: 'static', keyboard: false});
                    }, error: function (jqXHR, ex) {
                        handleAjaxError(jqXHR, ex);
                    }
                }).always(function () {
                    waitingDone('FindLabroatoryPrescriptionArea');
                });
            }
        });
    });
    </script>
}