@using AN.Core.Resources.Global;
@using AN.Core.Resources.UI.AdminPanel;

@model int

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-calendar"></i>
        <p>
            @Global.Turns
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","Appointment",new { area = "BeautyCenterManager", fromDate = DateTime.Now.ToShortDateString(), toDate = DateTime.Now.ToShortDateString() })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Today</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Appointment",new { area = "BeautyCenterManager", currentStatus = AppointmentStatus.Pending, status = AppointmentStatus.Pending})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.New</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Appointment",new { area = "BeautyCenterManager", currentStatus = AppointmentStatus.Done, status = AppointmentStatus.Done })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Done</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Appointment",new { area = "BeautyCenterManager"})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@PanelResource.AllList</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Booking",new { area = "BeautyCenterManager" })">
        <i class="nav-icon fa fa-calendar-plus"></i>
        <p>@PanelResource.ReserveTurn</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Patient",new { area = "BeautyCenterManager" })">
        <i class="nav-icon fa fa-users"></i>
        <p>@Global.Customers</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Invoice",new { area = "BeautyCenterManager" })">
        <i class="nav-icon fa fa-money-bill"></i>
        <p>@Global.Invoices</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Offer", new { area = "BeautyCenterManager" })">
        <i class="nav-icon fa fa-gift"></i>
        <p>@Global.Offers</p>
    </a>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cog"></i>
        <p>
            @Global.Settings
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("EditPoliclinic","polyclinic", new { area = "" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Edit</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("SettingDoctor","Polyclinic", new { area = "", polyclinicId = Model })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Managers</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("SetHealthServices","Polyclinic", new { area = "", polyclinicId = Model })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@Global.Services</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("SettingUsualPlan","Scheduling", new { area = "" , polyclinicId =  Model })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@PanelResource.PolyclinicGeneralSchedule</p>
            </a>
        </li>
    </ul>
</li>