@using AN.Core.Resources.Global;
@using AN.Core.Resources.UI.AdminPanel;

@model AN.Web.Areas.ClinicManager.Models.CMVocationViewModel

@{
    ViewBag.Title = PanelResource.ClinicVocations;
    Layout = "~/Views/Shared/_CpanelLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css" type="text/css" />
}

<section class="content-header">
    <h1>
        @PanelResource.ClinicVocations
        <small>@AN.Core.Resources.UI.AdminPanel.PanelResource.AdminPanel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home", new { area = "ClinicManager" })"><i class="fa fa-dashboard"></i> @Global.Home</a></li>
        <li class="active">@PanelResource.ClinicVocations</li>
    </ol>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm("AddClinicVocationDay", "Schedule", new { area = "ClinicManager" }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate)
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control common-datepicker", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate)
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control common-datepicker", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description)
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-info"><i class="fa fa-plane"></i> @PanelResource.AddNew</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Global.VocationDays
                        </div>
                        <div class="panel-body">
                            @await Component.InvokeAsync("ClinicVocationsTableComponent")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{ 
    <script type="text/javascript" src="~/lib/flatpickr/flatpickr.min.js"></script>
}