@model AN.Core.ViewModels.ChangePasswordViewModel

<div class="card card-body">
    <form id="ChangePasswordForm" method="post" action="@Url.Action("ChangePassword", "Account")">
        @Html.HiddenFor(m => m.Username)
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">@Global.UserName</span>
                        <span class="info-box-number text-center text-muted mb-0">@Model.Username</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12 text-center p-3">
                <button type="submit" class="btn btn-info btn-sm form-control">@AN.Core.Resources.UI.AdminPanel.PanelResource.ChangePassword</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var form = $("#ChangePasswordForm");
    $(function () {
        $.validator.unobtrusive.parse(form);
        $(form).on("submit", function (e) {
            e.preventDefault();
            if (form.valid()) {                
                waiting('AwroNoreModalDialog', '@AN.Core.Resources.Global.Global.PleaseWait');
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    dataType: "json",
                    data: form.serialize(), success: function (result) {
                         if (result.success) {
                             form.closest('.modal').modal('toggle');
                             Toast.fire({
                                type: 'success',
                                title: '@AN.Core.Resources.Global.Global.Successful',
                                text: result.message
                             });                            
                         } else {
                             Toast.fire({
                                type: 'error',
                                title: '@AN.Core.Resources.Global.Global.Error',
                                text: result.message
                             });
                        }
                    }, error: function (jqXHR, ex) {
                        handleAjaxError(jqXHR, ex);
                    }
                }).always(function () {
                    waitingDone('AwroNoreModalDialog');
                });
            }
        });
    });
</script>


