@model IEnumerable<AN.Web.Models.SpecialityViewModel>

<div class="table-responsive">
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Expertise)</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expertise)
                        </td>                      
                        <td>
                            @using (Html.BeginForm("DeleteDoctorSpeciality", "Speciality", new { area = "", polyclinicId = item.PolyclinicId, doctorId = item.doctorId, expertiseId = item.expertiseId }, FormMethod.Post, true, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-sm btn-outline-danger"
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#confirmDelete"
                                        data-title="@Global.Delete @item.Expertise" data-message="@Global.DoYouWantDeleteThisItem?">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-default-info m-2 text-center">@Global.NoItemFound</div>
    }
</div>

<partial name="_ConfirmDeleteModalPartial" />


