@using AN.Core.Resources.Global;

@model IEnumerable<AN.Web.Areas.Admin.Models.VocationDayViewModel>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteVocationDay", "Schedule", new { area = "Admin", id = item.Id }, FormMethod.Post, true, new { }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("EditVocationDay","Schedule",new { area = "Admin" ,  id = item.Id })" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                                    <button class="btn btn-sm btn-danger"
                                            type="button"
                                            data-toggle="modal"
                                            data-target="#confirmDelete"
                                            data-title="@Global.Delete @item.Date" data-message="@Global.DoYouWantDeleteThisItem">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <partial name="_ConfirmDeleteModalPartial" />
}
else
{
    @await Html.PartialAsync("_ItemNotFound","")
}

