@using AN.Web.LocalResource

<footer class="footer">
    <div class="container-fluid">
        <div class="container an-container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 footer__about">
                    <div class="footer-logo"><img class="logo" src="~/images/awronore-logo.svg" alt="Awronore logo" /></div>
                    <div class="footer-desc">
                        <h4>@Global.AwroNore</h4>
                        <p>@Global.AwroNoreQoute</p>
                        <div class="footer-mobile-app"><a class="btn btn--primary btn--large btn--dl" href="/" tabindex="0">@Global.DownloadDirectly</a><a class="btn btn--large btn--image" href="/" tabindex="0"><img src="~/images/download-awronore-on-google-play.png" alt="download on google play" /></a></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <ul class="ls-type-none no-padding footer__widget">
                        <li><a class="widget__link" href="/">@Global.MyTurns</a></li>
                        <li><a class="widget__link" href="/">@Global.BookingNewTurn</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <ul class="ls-type-none no-padding footer__widget">
                        <li><a class="widget__link" href="/">@Resource.AboutUs</a></li>
                        <li><a class="widget__link" href="/">@Resource.ContactUs</a></li>
                        <li><a class="widget__link" href="/">@Resource.LawRegulations </a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <ul class="ls-type-none no-padding footer__widget">
                        <li><a class="widget__link" href="https://www.google.com/maps/place/Awroosft/&36.201675,43.971744,15z/data=!4m5!3m4!1s0x40072393898ed059:0x29feb5c154145bfb!8m2!3d36.201675!4d43.9717442" rel="nofollow" target="_blank"> <span class="icon icon--small"><img src="~/images/icons/location.svg" alt="" role="presentation" /></span><span>Empire World, Business Towers T4, Floor 13, No 1، Erbil </span></a></li>
                        <li><a class="widget__link" href="mailto:info@awrosoft.com" rel="nofollow"> <span class="icon icon--small"> <img src="~/images/icons/mail.svg" alt="" role="presentation" /></span><span>info@awrosoft.com </span></a></li>
                        <li><a class="widget__link" href="https://awrosoft.krd" target="_blank"> <span class="icon icon--small"> <img src="~/images/icons/web.svg" alt="" role="presentation" /></span><span>awrosoft.krd</span></a></li>
                        <li><a class="widget__link" href="tel:+9647507233223" target="_blank" rel="nofollow"> <span class="icon icon--small"> <img src="~/images/icons/phone-call.svg" alt="" role="presentation" /></span><span dir="ltr">+964 (0) 750 723 3223</span></a></li>
                    </ul>
                </div>
            </div>
            <!--.row-->
            <div class="footer__copyright">
                <p> &copy; @Resource.AllRightsReservedFor <a href="https://awrosoft.krd" rel="author"> @Resource.AwrosoftCompany </a></p>
            </div>
        </div>
    </div>
</footer>
