
@model AN.Core.ViewModels.OfferCreateUpdateViewModel

<div id="createOfferArea">
    <form id="createOfferForm" class="form-horizontal" action="@Url.Action("CreateUpdate", "Offer", new {area = "polyclinicmanager"})" method="POST" enctype="multipart/form-data">
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Date)
                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control common-datapicker", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="form-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                            @Html.LabelFor(m => m.StartTime)
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control txtclockpicker", @tabindex = "2", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                            @Html.LabelFor(m => m.Endtime)
                            @Html.TextBoxFor(m => m.Endtime, new { @class = "form-control txtclockpicker", @tabindex = "3", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Endtime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ServiceSupplyId)
                            @Html.DropDownListFor(m => m.ServiceSupplyId, (ViewBag.Doctors as IEnumerable<SelectListItem>).ToList(), new { @tabindex = "5", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ServiceSupplyId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShiftCenterServiceId)
                            @Html.DropDownListFor(m => m.ShiftCenterServiceId, (ViewBag.HealthServices as IEnumerable<SelectListItem>).ToList(), new { @tabindex = "5", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ShiftCenterServiceId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MaxCount)
                            @Html.TextBoxFor(m => m.MaxCount, new { @class = "form-control", maxlength = "3" })
                            @Html.ValidationMessageFor(m => m.MaxCount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Type)
                            @Html.DropDownListFor(m => m.Type, (ViewBag.OfferTypesList as IEnumerable<SelectListItem>).ToList(), new { @tabindex = "5", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = "500" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3" style="direction: ltr !important;">
                        @Html.LabelFor(m => m.SendNotification, new { @class = "ml-0" })
                        <div class="custom-switch custom-switch-label-io">
                            @Html.CheckBoxFor(m => m.SendNotification, new { @class = "custom-switch-input" })
                            <label class="custom-switch-btn" for="SendNotification"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        @Html.TextBoxFor(m => m.ImageUpload, new { @type = "file", @accept = "image/*" })
                    </div>
                </div>
                <div class="kv-avatar-hint"><small>Max File Size: 500 KB</small></div>
                <div id="kv-avatar-errors-1" class="center-block" style="display:none"></div>
                @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
            </div>
        </div>                     
        <div class="collapse" id="FindPersonArea">
            <div class="card card-body">
                <div class="card-header">
                    <h5 class="m-0">@Global.Notification</h5>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">@Global.Kurdish</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationTitle_Ku)
                                    @Html.TextBoxFor(m => m.NotificationTitle_Ku, new { maxlength = "50", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NotificationTitle_Ku, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationBody_Ku)
                                    @Html.TextBoxFor(m => m.NotificationBody_Ku, new { maxlength = "255", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NotificationBody_Ku, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">@Global.Arabic</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationTitle_Ar)
                                    @Html.TextBoxFor(m => m.NotificationTitle_Ar, new { maxlength = "50", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NotificationTitle_Ar, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationBody_Ar)
                                    @Html.TextBoxFor(m => m.NotificationBody_Ar, new { maxlength = "255", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NotificationBody_Ar, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">@Global.English</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationTitle)
                                    @Html.TextBoxFor(m => m.NotificationTitle, new { maxlength = "50", @class = "form-control beLTR pl-3" })
                                    @Html.ValidationMessageFor(m => m.NotificationTitle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NotificationBody)
                                    @Html.TextBoxFor(m => m.NotificationBody, new { maxlength = "255", @class = "form-control beLTR pl-3" })
                                    @Html.ValidationMessageFor(m => m.NotificationBody, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <button type="submit" class="btn btn-info">@(Model.Id == null ? AN.Core.Resources.UI.AdminPanel.PanelResource.AddNew : AN.Core.Resources.Global.Global.Update)</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@AN.Core.Resources.Global.Global.Cancel </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        var form = $("#createOfferArea").find('form');
        $.validator.unobtrusive.parse(form);
        $(form).on("submit", function (e) {
            e.preventDefault();
            if (form.valid()) {
                var data = new FormData($(this)[0]);
                waiting('createOfferArea', '@AN.Core.Resources.Global.Global.PleaseWait');
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    processData: false,
                    contentType: false, // contentType option to false is used for multipart/form-data forms that pass files
                    data: data, success: function (result) {
                        form.closest('.modal').modal('toggle');
                        toastr.success("Success", "Message");
                        reloadDataTable();
                    }, error: function (jqXHR, ex) {
                        handleAjaxError(jqXHR, ex);
                    }
                }).always(function () {
                    waitingDone('createOfferArea');
                });
            }
        });
        form.find("[name='SendNotification']").change(function () {
            if (this.checked) {
                $('.collapse').collapse("show")
            } else {
                $('.collapse').collapse("hide")
            }         
        });
        form.find("[name='ImageUpload']").fileinput({
            theme: "fas",
            overwriteInitial: true,
            showClose: false,
            showCaption: false,
            showUpload: false,
            browseLabel: '',
            removeLabel: '',
            browseIcon: '<i class="fa fa-folder-open"></i>',
            removeIcon: '<i class="fa fa-trash"></i>',
            removeTitle: 'Cancel or reset changes',
            elErrorContainer: '#kv-avatar-errors-1',
            msgErrorClass: 'alert alert-block alert-danger',
            defaultPreviewContent: '@Html.Raw(ViewBag.PhotoPreview)',
            maxFileSize: 500,
            minImageWidth: 400,
            minImageHeight: 150,
            maxImageWidth: 400,
            maxImageHeight: 150,
            allowedFileExtensions: ["jpg", "png", "jpeg"]
         });
    });
</script>
