@using AN.Core.Resources.Global;
@using AN.Core.Resources.UI.AdminPanel;

@model AN.Web.Areas.ClinicManager.Models.WorkingHoursReportViewModel

@{
    ViewBag.Title = PanelResource.DoctorsReport;
    Layout = "~/Views/Shared/_CpanelLayout.cshtml";
}

<section class="content-header">
    <h1>
        @PanelResource.DoctorsReport
        <small>@AN.Core.Resources.UI.AdminPanel.PanelResource.AdminPanel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home", new { area = "ClinicManager" })"><i class="fa fa-dashboard"></i> @Global.Home</a></li>
        <li class="active">@PanelResource.DoctorsReport</li>
    </ol>
</section>

<section class="content">
    <div class="box card">
        <div class="box-header">
            @using (Html.BeginForm("ReportWorkingTimes", "Reporting", new { area = "ClinicManager" }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("",Global.Polyclinic, new { @for = "polyclinicsSelect" })
                        @Html.DropDownListFor(m => m.PolyclinicId, Model.ListPolyclinics, new { @id = "polyclinicsSelect", @cLass = "form-control" })
                        @Html.ValidationMessageFor(m => m.PolyclinicId)
                    </div>
                    <div class="col-md-2">
                        @Html.Label("",Global.From, new { @for = "fromDate" })
                        @Html.TextBoxFor(m => m.FromDate, new { @id = "fromDate", @class = "form-control date-input" })
                        @Html.ValidationMessageFor(m => m.FromDate)
                    </div>
                    <div class="col-md-2">
                        @Html.Label("",Global.To, new { @for = "toDate" })
                        @Html.TextBoxFor(m => m.ToDate, new { @id = "toDate", @class = "form-control date-input" })
                        @Html.ValidationMessageFor(m => m.ToDate)
                    </div>
                    <div class="col-md-2">
                        <input id="btnSearch" class="btn btn-danger" type="submit" value="@PanelResource.ViewAndPrintReport" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>
